<div class="form clearfix">
    <div class="form-field">
    <input [(ngModel)] = "number" />
    </div>
    <div class="call-button" (click)="call()">
        Zadzwoń
    </div>
  </div>
  <div class="state">
    Status połączenia: {{ state }}
   </div>